*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    background-color: rgb(5, 45, 63);
    height: 70px;
    width: 100%;
    z-index: 1; /*Navbar will always be at the top*/
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%; /*moving logo to the left abit used with "position:relative*/
    color: crimson;
    font-weight: bold;
    line-height: 70px; /*used to move the logo down abit*/
}

ul{
    position: relative;
    float: right; /*moves the ul content to the right side*/
    margin-right: 30px;
}


ul li{
    display: inline-block; /*displays the li content in the same line*/
    line-height: 70px;
    margin: 0,5px;
}

 ul li a{
    text-decoration: none;
    color: crimson;
    font-size: 17px;
    
    
}

.mainImage{
    width: 100%;
    height: 250px;
}
.sectionOne{
    padding-top: 70px;
}
.imageText{
    position: absolute; /*i think it remains exactlu whre it is or appears on top of the image*/
    top: 20%;
    left: 30%;
    color: antiquewhite;
    background-color: rgba(3, 28, 49, 0.796);
    padding-right: 20px;
    padding-left:20px ;
    font-size: 40px;

}
.container{
    
    padding-top:70px;
}

.teachers{
    width: 80%;
    height: 150px;
}
.formText{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
form input{
    width: 40%;
    height: 50px;
    border-style: inset;
    border-radius: 15px;
    border-color:rgb(78, 2, 2);
  
    
}
.formSec{
    padding-top: 10px;
}
form textarea{
    width: 40%;
    height: 130px;
    border-style: inset;
    border-radius: 15px;
    border-color:rgb(78, 2, 2);
}
#submit{
    position: relative;
    width: 15%;
    left:15px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(29, 28, 28);

}
footer h5{
    text-align: center;
    color: aliceblue;
    padding-top: 7px;
}
.admission_form2{
    padding: 30px;
}
.formHead{
    padding-top: 30px;
}
form{
    background: url(Images/three.jfif);
    background-attachment: fixed;
    background-size:100%;
    color: aliceblue;
    background-repeat: no-repeat;
    width: 80%;
    
    
}